@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .text-balance {
    text-wrap: balance;
  }
}
